/* reset rules + font style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* header + logo */

#logo-container {
    margin: 10px 20px;
}

#logo {
    height: 50px;
    vertical-align: bottom;
}

#logo-text {
    font-size: 40px;
    font-weight: 700;
}



/* main content */

main {
    background-color: #f3f3f3;
    padding: 20px 0px;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.toboo-list-container {
    width: 90%;
    margin: 0 auto;
}



/* button style */

.toboo-buttons {
    padding: 12px 0px;
}

button {
    padding: 6px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
}

.active {
    background-color:#00BFF9;
    border-color: #00aaf9;
    color: #fff;
}

.inactive {
    background-color: #fff;
    color: #d2d2d2;
}



/* separatpr */

hr {
    border: 1px solid #f2f2f2;
}



/* list item blocks */

.toboo-list-items {
    padding-bottom: 30px;
}

.list-block {
    margin-top: 30px;
}


/* item title */

h2:before {
    content: '\25BE';
}


/* items */

.list-item {
    margin-top: 15px;
}

.item-checked {
    vertical-align: middle;
    font-size: 9px;
    color: #00eb76;
    padding: 3px;
    border: 1px solid #00eb76;
    border-radius: 50%;
}

.item-unchecked {
    vertical-align: middle;
    font-size: 9px;
    color: #eb0052;
    padding: 3px;
    border: 1px solid #eb0052;
    border-radius: 50%;
}

.item-text {
    margin-left: 6px;
}


/* captions */

.item-caption {
    margin-left: 6px;
    padding: 5px 12px;
    font-size: 9px;
    color: #fff;
    border-radius: 9px;
}

.editorial-caption {
    background-color: #00aaf9;
}

.q1-caption {
    background-color: #855cba;
}

.recruiting-caption {
    background-color: #56ca93;
}

.mobile-caption {
    background-color: #f8ad3b;
}