/* reset rules + font style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* header + logo */

#logo-container {
    margin: 10px 20px;
}

#logo {
    height: 50px;
    vertical-align: bottom;
}

#logo-text {
    font-size: 40px;
    font-weight: 700;
}



/* main content */

main {
    background-color: #f3f3f3;
    padding: 20px 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
}

.toboo-list {
    width: 80%;
    margin: 0 auto;
}



/* button style */

.toboo-buttons {
    padding: 10px 0px;
}

button {
    padding: 6px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
}

.active {
    background-color:#00BFF9;
    border-color: #00aaf9;
    color: #fff;
}

.inactive {
    background-color: #fff;
    color: #d2d2d2;
}

hr {
    border-color: #f2f2f2;
}
